/* * {
    margin: 0;
    padding: 0;
    color: red; 
} */

/* removing all margin and padding by changing the value to "0" */

/* type selectors */
/* short cut for writing a comment in CSS is "cmd" + "/" */

h1 {
    font-size: 90px;
}

p {
    color: olive; 
    font-size: 26px;
}

header {
    background-color: orange;
}

header p {
    background-color: snow;
    border-bottom: 1 px solid gray;
}

footer {
    background-color: lightcoral;
}

/* Order doesn't matter too much here. But, it still plays an important role. 
If you switched the footer style to be on top of the header style, it doesn't do
anything. */

a:link {
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
}

/* turns links white with an orange background when they recieve focus
(user clicks link) */
a:focus {
    color: white;
    background-color: orange;
}

img:hover {
    border: 8px solid blue;
    border-radius: 8px;
}

ol li {
    letter-spacing: 3px;
    color: tomato;
}

ol li:first-child {
    font-weight: bold;
}

ul li {
    list-style: none;
}

/* ID selectors below using "#" */

#education {
    border: 3px solid red;
}

#education h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#skills-list {
    background-color: aliceblue;
    padding: 36px;
}

/* class selectors identified with a dot. ID selectors identified with a # */
/* class selectors below using "." */

.top-skill {
    font-weight: bold;
    background-color: teal;
    color: papayawhip;
}

.date {
    border: 2px solid steelblue;
    border-radius: 12px;
    padding: 6px;
}

.special {
    text-transform: uppercase;
    background-color: papayawhip;
}

#proud {
    font-size: 48px;
    background-color: firebrick;
}