/* * {
    margin: 0;
    padding: 0;
    color: red; 
} */

/* removing all margin and padding by changing the value to "0" */

p {
    color: olive; 
    font-size: 26px;
}

header {
    background-color: orange;
}

footer {
    background-color: lightcoral;
}

/* Order doesn't matter too much here. But, it still plays an important role. 
If you switched the footer style to be on top of the header style, it doesn't do
anything. */

a {
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}

#education {
    border: 3px solid red;
}

#skills-list {
    background-color: aliceblue;
    padding: 36px;
}





