/* * {
    margin: 0;
    padding: 0;
    color: red; 
} */

/* removing all margin and padding by changing the value to "0" */

/* type selectors */
/* short cut for writing a comment in CSS is "cmd" + "/" */

html {
   font-size: 100%; 
}

/* 100% = 1em = 16px */

/* 20 x 4 is 80 pixels. html change made the h1 bigger. */

h1 {
    font-size: 4em;
    margin-bottom: 1.5rem;
    background-color: white;
}


/* html {
    font-size: 20px;
 } */

/* h1 {
    font-size: 4em;
    margin-bottom: 1.5em;
    background-color: white;
} */


/* OR */


/* html {
    font-size: 20px;
 } */

/* h1 {
    font-size: 4em;
    margin-bottom: 1.5rem;
    background-color: white;
} */

/* rem refers to the root size of the font. See that we put 4em for the font-size, 1.5em for the margin-bottom, and font-size for 20px in the html. To calculate
the size of the margin-bottom, it will be 20 x 4 x 1.5. The margin-bottom is 120px. If you changed the margin-bottom to 1.5rem, it always goes
back to the root font size. This means that it'll be 1.5 rem x 20 px. 20 px is the root size font. We ignore the font-size of 4em. The new margin-bottom
would be 30px.*/

p {
    color: olive; 
    font-size: 26px;
}

header {
    background-color: #f0f;
    width: 80%;
    margin-left: 10%;
}

header p {
    background-color: snow;
    border-bottom: 1 px solid gray;
}

#header-box {
    width: 50%;
    background-color: #33d549;
}

img {
    width: 100%;

}
/* notice I made the header to have a width of 80% of the screen. If you adjust the screen, it will
always be 80% of the screen. % are relative. We also made a div (in HTML) and have a custom ID.
Notice the div id is within the header. we made the div's width 50% of the header. It will adjust to 50% of the header, of the 80% header's width. */

footer {
    background-color: lightcoral;
}

/* Order doesn't matter too much here. But, it still plays an important role. 
If you switched the footer style to be on top of the header style, it doesn't do
anything. */

a:link {
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
}

/* turns links white with an orange background when they recieve focus
(user clicks link) */
a:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 165, 0, .5)
}

img:hover {
    border: 8px solid blue;
    border-radius: 8px;
}

ol li {
    letter-spacing: 3px;
    color: tomato;
}

ol li:first-child {
    font-weight: bold;
}

ul li {
    list-style: none;
}

/* ID selectors below using "#" */

#education {
    border: 3px solid red;
}

#education h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-color: rgb(150, 200, 250) ;
}

#skills-list {
    background-color: aliceblue;
    padding: 36px;
}

/* class selectors identified with a dot. ID selectors identified with a # */
/* class selectors below using "." */

.top-skill {
    font-weight: bold;
    background-color: teal;
    color: papayawhip;
}

.date {
    border: 2px solid steelblue;
    border-radius: 12px;
    padding: 6px;
}

.special {
    text-transform: uppercase;
    background-color: papayawhip;
}

#proud {
    font-size: 48px;
    background-color: firebrick;
}